@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    background-color: #ccc;
    font-family: 'Lato'm 'sans-serif';
}

main{
    background: #fff;
    padding: 0 30px;
    
}



.container,
.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 100px;  
}
/* #imgcarrinho{
    max-width: 76px;
    height: 130px;
} */

/* .decrease{
    width: 70%;
    align-items:left;

} */
.products-container ion-icon{
    font-size: 25px;
    color: #0084ff;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    
}

.products-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid #FFB967;
    margin: 0 auto;
}

.product-title {
    width: 45%;
    border-bottom: 1px solid lightgray;
    text-transform: uppercase;
}

.price {
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}
.product{
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
}
.product>span{
    padding-top: 10px;
}
.botaofechar{
   width: 300px;
   height: -10px;
}
.product ion-icon{
    cursor: pointer;
}
.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 0;
}
.products img {
    width: 75px;
}
.basketTotalTitle{
    width: 30%;
}

.basketTotal{
    width: 10%;
}
.finalizar-compra{
    background-color: #0084ff;
    border: none;
    cursor: pointer;
    padding: 0.25rem 0.4rem;
    border-radius: 9999px;
    color: #fff;
    font-weight: 500;
    font-size: 0.9rem;
    transition: all 02.s;
}

@media (max-width :800px) {
    .logo {
        font-size: 1.2rem;
    }

    .menu-button {
        display: block;
    }

    .header-bottom-side {
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
    }

    nav {
        position: absolute;
        background-color: #FFB967;
        width: 100%;
        top: 46px;
        display: none;
    }

    .show-menu nav {
        display: block;
    }

    nav ul {
        list-style: none;
        flex-direction: column;
    }

    nav ul li {
        text-align: center;
        padding: 0.8rem;
    }

}

.basketTotalContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

/* button{
    cursor:pointer;
    
}

.page-title{
    font-size: 40px;
    padding: 50px 0;
    text-align: center;
}

.content{
    display: flex;
}

.content section{
    flex: 1;
}

.content aside{
    padding: 15px 10px;
    margin-left: 30px;
    min-width: 250px;
}

table{
    width: 100%;
    border-collapse: collapse;
}
table>thead>tr>th {
    text-align:left;
    padding-bottom: 12px;
    text-transform: uppercase;
    color: #666;
}
table>thead>tr{
    border-bottom: 3px solid #eee;
}

.products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 30px 0;
    border-bottom: 3px solid #858383;
}

.producto{
    display:flex;
    align-items: center;
}
.producto>img{
    border-radius: 10px;
}
.name{
font-size: 20px;
}
.category{
    color: #666;
}
.info{
    margin-left: 20px;
}
tbody>tr{
    padding: 30px 0;
    border-bottom: 3px solid #eee;
}
.qty{
    background-color: #eee;
    display: inline-flex;
    padding: 0px 0px;
    justify-content: space-around;
    align-items: center;
    min-width: 60px;
    border-radius: 20px;
    overflow: hidden;
    height: 30px;
}
.qty>span{
    margin: 0 10px;
}    
.qty>button{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    padding: 0 15px;
    font-size: 20px;
    height: 100%;
}
.qty>button:hover{
    background-color: #ddd;
}

.remove{
    background-color: #eee;
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}
.remove:hover{
    background-color: #ddd;
}
.content>aside>.box{
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background-color: #eee;
}
.info>div>button{
    color: green;
    background: transparent;
    display: block;
    width: 100%;
    border: none;
}
aside>button{
    background-color: rgb(3, 119, 3);
    display: block;
    width: 100%;
    border: 0;
    padding: 15px 0;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.box{
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background-color: #ddd;
}
.box>.header{
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 1px solid #ccc;
}
.box>.info{
    padding: 15px 10px;
}

aside>.rodape{
    padding: 20px;
    background-color: #ccc;
    font-size: 18px;
    justify-content: space-between;
    display: flex;
}
.box>.info>div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.box>.info>div:last-child{
    margin:0;
} */ 